<h1>⏱️ Mein Arbeitstag</h1>

<div class="controls">
  <label for="task">Task wählen:</label>
  <input id="task" placeholder="TASK-TEST" />

  <button (click)="start()" [disabled]="isWorking()">▶ Start</button>
  <button (click)="pause()" [disabled]="!isWorking() || isPaused()">
    ⏸ Pause
  </button>
  <button (click)="resume()" [disabled]="!isPaused()">⏵ Weiter</button>
  <button (click)="stop()" [disabled]="!isWorking()">⏹ Stop</button>
</div>

<p>🧮 Arbeitszeit: <strong>{{ format(totalWorked()) }}</strong></p>
